@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	font-family: 'Nanum Gothic', sans-serif;
}

header{
	width: 100%;
}

ul {
    display: flex;
    margin-bottom: 50px;
    border-bottom: 2px solid #adadad;
    padding-bottom: 35px;
}

li {
	list-style: none;
	margin: 0 auto;
}

.button a{
	    margin: auto 5px;
    text-decoration: none;
    font-size: 15px;
    color: #8f8f8f;
    font-weight: bold;
}

a {
	text-decoration: none;
	font-family: 'Nanum Gothic', sans-serif;
	color: #505050;
	font-weight: bold;
}

.title {
	display: flex;
    align-items: center;
    position: relative;
}

h1 {
	text-align: left;
    margin: 35px auto;
	
}

.button {

    display: flex;
    margin-left: 1300px;
    position: absolute;

}

p {
	font-weight: bold;
	font-size: 14px;
	margin: auto 4px;
}

button {
	height: 20px;
}

.header{
	width: 1500px;
	margin: auto;
	background: white;
}