<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>myRetalCar</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<!-- servlet 파일 등록 및 맵핑 -->
	<servlet>
		<servlet-name>boardWrite</servlet-name>
		<servlet-class>board.boardWriteAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>boardWrite</servlet-name>
		<url-pattern>/boardWrite</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>boardUpdate</servlet-name>
		<servlet-class>board.boardUpdateAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>boardUpdate</servlet-name>
		<url-pattern>/boardUpdate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>boardDelete</servlet-name>
		<servlet-class>board.boardDeleteAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>boardDelete</servlet-name>
		<url-pattern>/boardDelete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userJoin</servlet-name>
		<servlet-class>user.userJoinAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userJoin</servlet-name>
		<url-pattern>/userJoin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userLogin</servlet-name>
		<servlet-class>user.userLoginAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userLogin</servlet-name>
		<url-pattern>/userLogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>userLogout</servlet-name>
		<servlet-class>user.userLogoutAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userLogout</servlet-name>
		<url-pattern>/userLogout</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>userDelete</servlet-name>
		<servlet-class>user.userDeleteAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userDelete</servlet-name>
		<url-pattern>/userDelete</url-pattern>
	</servlet-mapping>

	<!-- car -->
	<servlet>
		<servlet-name>rent</servlet-name>
		<servlet-class>rent.carRentAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rent</servlet-name>
		<url-pattern>/rent</url-pattern>
	</servlet-mapping>


	<!-- jsp -->
	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>rental</servlet-name>
		<jsp-file>/rental.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>rental</servlet-name>
		<url-pattern>/rental</url-pattern>
	</servlet-mapping>

	<!-- join -->
	<servlet>
		<servlet-name>join</servlet-name>
		<jsp-file>/join.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>join</servlet-name>
		<url-pattern>/join</url-pattern>
	</servlet-mapping>

	<!-- login -->
	<servlet>
		<servlet-name>login</servlet-name>
		<jsp-file>/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<!-- board -->
	<servlet>
		<servlet-name>board</servlet-name>
		<jsp-file>/board/board.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>board</servlet-name>
		<url-pattern>/board</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>boardView</servlet-name>
		<jsp-file>/board/boardView.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>boardView</servlet-name>
		<url-pattern>/boardView</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>boardWriteForm</servlet-name>
		<jsp-file>/board/boardWriteForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>boardWriteForm</servlet-name>
		<url-pattern>/boardWriteForm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>boardUpdateForm</servlet-name>
		<jsp-file>/board/boardUpdateForm.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>boardUpdateForm</servlet-name>
		<url-pattern>/boardUpdateForm</url-pattern>
	</servlet-mapping>

	<!-- car -->
	
	<servlet>
		<servlet-name>carList</servlet-name>
		<jsp-file>/car/carList.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>carList</servlet-name>
		<url-pattern>/carList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>carRent</servlet-name>
		<jsp-file>/car/carRent.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>carRent</servlet-name>
		<url-pattern>/carRent</url-pattern>
	</servlet-mapping>
	
	<!-- jsp -->
	<servlet>
		<servlet-name>notice</servlet-name>
		<jsp-file>/notice.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>notice</servlet-name>
		<url-pattern>/notice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>mypage</servlet-name>
		<jsp-file>/mypage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>mypage</servlet-name>
		<url-pattern>/mypage</url-pattern>
	</servlet-mapping>


</web-app>